/* css reset */
*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    border: 0;
}

.wrapper{
    width: 1230px;
    /*background: #ff0000;*/
    height: 100%;
    margin: 0 auto;
}